<div class="row">
    <div *ngFor="let course of courses" class="col">
        <div class="card" style="width: 14rem;">
            <img src={{course.img}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{course.name}}</h5>
              <p class="card-text">{{course.instructor}}</p>
              <p class="card-text">{{course.oldPrice}} <del> {{course.newPrice}}</del></p>
              
            </div>
      </div>
      
    </div>
  
</div>
  
  
